*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    /* 1rem == 20px */
}

/* header */
h1{
    background-color: pink;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 3rem;
    margin-bottom: 20px;
}

/* main */
.content{
    display: flex;
    display: -webkit-flex;
    font-size: 1.2rem;
}

.content h2{
    text-align: center;
    font-size: 2rem;
    height: 100px;
    line-height: 100px;
    color: #fff;
}

.content .box1 h2{
    background-color: orangered;
}

.content .box2 h2{
    background-color: rgba(0, 47, 255, 0.863);
}

.content .box3 h2{
    background-color: gold;
}

.content .box1_script{
    border: 2px solid orangered;
    /* visibility: hidden; */
}

.content .box2_script{
    border: 2px solid rgba(0, 47, 255, 0.863);
    /* visibility: hidden; */
}

.content .box3_script{
    border: 2px solid gold;
    /* visibility: hidden; */
}

.content > div{
    margin: 2px;
    width: calc(100% / 3);
}

.script{
    width: calc(100% / 3);
    visibility: hidden;
    padding: 20px;
    height: 150px;
    line-height: 28px;
    word-break: keep-all;
    opacity: 0;
    background-color: #fff;
}

.box{
    position: relative;
}

.box1_script{
    position: absolute;
    width: 100%;
    top: 175px;
    left: 50%;
    transform: translate(-50%, -80%);
}

.box1:hover .box1_script{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transform: translate(-50%, -50%);
}

.box2_script{
    position: absolute;
    width: 100%;
    top: 175px;
    left: 50%;
    transform: translate(-50%, -80%);
}

.box2:hover .box2_script{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transform: translate(-50%, -50%);
}

.box3_script{
    position: absolute;
    width: 100%;
    top: 175px;
    left: 50%;
    transform: translate(-50%, -80%);
}

.box3:hover .box3_script{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transform: translate(-50%, -50%);
}